:root {
    --main-color:#00A092;
    --secondary-color:#000000;
    --third-color:#F58021;
    --forth-color:#20113D
}

*,
*::before,
*::after {
     margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

 ul,
ol {
  list-style: none;
}
button {
  cursor: pointer;
}

header{
     width: 100%;
    background-color: #F58021;
}

body{
      font-family: "Montserrat", sans-serif;

}
.headerwrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 30px;
}
 
 .nav-social{
    display: flex;
    align-items: center;
     gap: 50px
 }
 
 .socialicons ul{
    display: flex;
 gap:15px }
 
 
.navlist ul{
    display: flex;
    gap: 48px;
     font-size: 19px;
    font-weight: 600;
}
 
 
 
.bgimage{
    background-image: url(./online-zoo/assets/images/pandabaground.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;

}

.bgimage h1{
     
    max-width: 848px;
    font-size: 82px;
    font-weight: 800;
    color: var(--main-color);
}
 

.bgimage p{

    font-size: 19px;
    font-weight: 400;
    max-width: 430px;
    color:var(--secondary-color)
}
.bgimage button{
    padding-block: 20px; 
    max-width: 240px;
    font-size: 18px;
    font-weight: 600;
     color: white;
     display: flex;
     align-items: center;
     background-color: var(--third-color);
     padding-inline: 15px;
     gap:15px;
 border: none;  
    outline: none;}

    .button{
            padding-block: 20px; 
    max-width: 300px;
    font-size: 28px;
    font-weight: 600;
     color: white;
     display: flex;
     align-items: center;
     background-color: var(--third-color);
     padding-inline: 15px;
     gap:15px;
 border: none;  
    outline: none;
    }
.container{
     max-width: 1680px;
    margin: 0 auto;
    width: 70%;
 }
.background-text{
    display: flex;
    flex-direction: column;
        gap: 50px;
    padding-block: 100px;

}

 .welcomeup{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 150px;
 }

 .welcometext{
     display: flex;
    flex-direction: column;
    gap:40px
    }

 .welcometext h2{
    max-width: 803px;
       font-size: 65px;
    color: var(--main-color);
    line-height: 1.1; 
 }
 .welcometext p{
    font-size: 18px;
    color: var(--secondary-color);
    font-weight: 400;
    max-width: 100%;
    line-height: 150%;
}

 .welcomeup img{
max-width: 800px;
 }

 .wrapper  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #20113D;
    gap:20px;
    
 }
 .donationflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 30px;
        background-color: #20113D;

 }

 .textside{
        display: flex;
    flex-direction: column;
     gap: 20px;
    
 }

 .textside h2{
    font-size: 42px;
    font-weight: 500;
    line-height: 100%;
    color: white;

 }
 .textside p{
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color:white;
    max-width: 650px;
 }

 .buttonside{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:20px;
  
   }
   .buttonside p{
    color: white;
     font-size: 26px;
    font-weight: 600;
    line-height: 100%;
   }
 
.buttonside button h2{
    color: white;
    font-size: 26px;
    font-weight: 500;
    line-height: 130%;
}
.buttonside button p{
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 10px;
    
}
.buttonside button{
          display: flex;
  justify-content: space-between;  
  align-items: center;

 
  padding: 26px 30px;

  background: linear-gradient(to right, #20113D 70%, #F58021 30%);
  color: white;
 }
.buttonside button span{
    margin-left: 120px;
}
.buttonside button img{
    margin-left: 100px;
}

.animalcontainer{
    margin-inline: 500px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
.animalcontainer h2{
     font-size: 53px;
    font-weight: 600;
    line-height: 100%;
     padding-bottom: 30px;
    color: var(--main-color);
}
.animalcontainer p{
    max-width: 1120px;
     font-size: 30px;
    font-weight: 500;
    line-height: 130%;
}
.card{
    
    max-width: 300px;
      height: 100%;

    height: 100%;
    display: flex;
    flex-direction: column;
  }
.textsd {
   display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--forth-color);
    gap: 15px;
}
.card button{
  border: none;
     color: var(--third-color);
    font-size: 20px;
    font-weight: 600;
      background-color: var(--forth-color);
      display: flex;
      justify-content: center;
      align-items: center;
      gap:15px;
      margin-bottom: 15px;

 }
    
 
.textsd h3{
    margin-top: 15px;
  font-size: 26px;
    font-weight: 500;
    line-height: 130%;   
    color: white;
}
.textsd p{
    max-width: 379px;
  font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: white;   
    
}
.wrap {
 display: flex;
 gap: 20px;
  flex-wrap: wrap;
}
.animal-img {
  width: 100%;
  height: 400px;      /* make the image as wide as the card */
   object-fit: cover; 
  display: block;    
}

.lemur{
    max-width: 200px;
}

.switch  {
     margin-top: 100px;
    display: flex;
    justify-content: center;
}
.switch button{
    background-color: white;
    color: black;
    border: 1px solid black;
}

 .donation{
     display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
  }
 .donationheart{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    max-width: 560px;
     font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: white;
 }
 .donation-container{
    background-color: var(--forth-color);
    padding-block: 80px;
 }

 .donationheart img{
     
  align-self: flex-start;

 }
 .donationheart h3{
    align-self:flex-start ;
 }

 .donat {
    padding-block: 25px;
    font-size: 54px;
    font-weight: 600;
    line-height: 100%;  
    color: white;
 }
 .linewrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 80px;
    margin-block: 30px;
 }
 .line{
     flex: 1;          /* line expands */
  height: 2px;
  background: white;
 }
 
 section{
    padding-block: 100px;
 }

 .historywrapper{
    padding-block: 100px;
    background-color: var(--forth-color);
      padding: 100px 0;
  background: 
    linear-gradient(144.77deg, #20113d 18.53%, rgba(32, 17, 61, 0) 46.43%),
    linear-gradient(177.34deg, #20113d 7.26%, rgba(32, 17, 61, 0) 14.89%),
    url('./online-zoo/assets/images/pandabackground.webp');
  background-size: cover;
  background-position: center;
  color: white;
 
 }
 .history{
    display: flex;
    justify-content: space-between;
    gap: 20px;     
  }
 .boxwrapper{
     display: flex;
    flex-wrap: wrap;
    gap: 20px;
     justify-content: flex-end; 
    
 }
 .box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
     gap: 15px;
    padding: 20px;
    width: 455px;
    background-color: white;
    border: 1px solid black;
 }
 .history-left{
    max-width: 560px;
    color: white;
    display: flex;
    flex-direction: column;
    gap:400px
 }
.history-left h4{
     font-size: 54px;
    font-weight: 600;
    line-height: 100%;
    color: white;
}
.history-left p{
    color: white;
     font-size: 26px;
    font-weight: 500;
    line-height: 130%;
}

 .historycontainer{
    
     display: flex;
     flex-direction: column;
 }

 .history-left button{
    display: flex;
    align-self: flex-end;
 }

 .box img{
    width: 72px;
    height:72px;
    padding-block: 10px;
 }
 
 .historytext h3{
        max-width: 400px;

    font-size: 54px;
    font-weight: 600;
    line-height: 100%;  
 }
  .historytext p{
    font-size: 26px;
    font-weight: 500;
    line-height: 130%;  
 }
 .arrowbuttons{
    color: red;
 }
.animal-care-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .animal-care-text h2{
    color: var(--main-color);
  font-size: 54px;
    font-weight: 600;
    line-height: 100%;    
 }
 
 .animal-care-text p{
    color: var(--secondary-color);
  font-size: 26px;
    font-weight: 500;
    line-height: 130%;
    margin-block: 50px;    
 }

 .lemur1{
    background-color: red;
   background-image: url(./online-zoo/assets/icons/koala.png);
 background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    grid-column: 1/3;
}
 .panda{
    background-color: var(--forth-color);
    grid-column: 3/4;
    display: flex;
        flex-direction: column;

 }
 .tiger{
 background-color: var(--forth-color);
    grid-column: 1/2;
       display: flex;
        flex-direction: column;
 }
 .lemur2{
  background-color: var(--forth-color);
    grid-column: 2/3;
       display: flex;
        flex-direction: column;
 }
 .bird{
 background-color: var(--forth-color);
    grid-column: 3/4;
       display: flex;
        flex-direction: column;
 }
 .animal-care-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
    height: 1000px;
  }

  .gridimage,.gridtext{
    flex:1;
   }

  .animal-care-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gridtext  { 
   display: flex;
   flex-direction: column;
   gap: 55px;
   padding-top: 15px;
   padding-inline: 25px;
     font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: white;
}
.gridtext button{
   background-color: var(--forth-color);
   color: #F58021;
   border: none;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
.gridtext button img{
    width: 1em;   /* or any small size you want */
    height: 1em;
   object-fit: cover;
}
 .choosebutton{
   background-color: white;
   padding-block: 26px;
   padding-inline: 35px;
   border: 1px solid black;
   display: block;
   margin: 0 auto;
}
.lemuronscreen{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.upfooter{
   display: flex;
   gap: 65px;
    display: flex;
   align-items: center;

}
.upfooter ul{
   display: flex;
   gap: 46px;
     font-size: 18px;
    font-weight: 600;
    line-height: 100%;    
}
.upfooter button{
   font-size: 18px;
    font-weight: 600;
    line-height: 100%;  
    padding-block: 26px;
    padding-inline: 33px; 
     
}

.footerwrapper{
   background-color: var(--forth-color);
   padding-block: 40px;
   
}
.inside-line {
    height: 2px;                
    background-color: white;    
    width: 100%;                
    margin: 40px 0;            
}

.downfooter{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footeryear{
   display: flex;
   gap: 50px;
}
.footerlogo{
   display: flex;
   gap: 40px;
}
