
:root {
    --main-color:#00A092;
    --secondary-color:#000000;
    --third-color:#F58021;
    --forth-color:#20113D;
}

*,
*::before,
*::after {
     margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

 ul,
ol {
  list-style: none;
}
button {
  cursor: pointer;
}

header{
     width: 100%;
    background-color: #F58021;
}

body{
      font-family: "Montserrat", sans-serif;

}
.headerwrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 30px;
}
 
 .nav-social{
    display: flex;
    align-items: center;
     gap: 50px
 }
 
 .socialicons ul{
    display: flex;
 gap:15px }
 
 
.navlist ul{
    display: flex;
    gap: 48px;
     font-size: 19px;
    font-weight: 600;
}

.container{
     max-width: 1680px;
    margin: 0 auto;
    width: 70%;
 }
 .map-label{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap:70px
 }

 .map-text p{
   margin-top: 50px;
    max-width: 500px;
    line-height: 100%;
    font-size: 54px;
    font-weight: 600;
    color: var(--forth-color);
    text-transform: capitalize;
 }
  
 
.upfooter{
   display: flex;
   gap: 65px;
    display: flex;
   align-items: center;

}
.upfooter ul{
   display: flex;
   gap: 46px;
     font-size: 18px;
    font-weight: 600;
    line-height: 100%;    
}
.upfooter button{
   font-size: 18px;
    font-weight: 600;
    line-height: 100%;  
    padding-block: 26px;
    padding-inline: 33px; 
     
}

.footerwrapper{
   background-color: var(--forth-color);
   padding-block: 40px;
   
}
.inside-line {
    height: 2px;                
    background-color: white;    
    width: 100%;                
    margin: 40px 0;            
}

.downfooter{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footeryear{
   display: flex;
   gap: 50px;
}
.footerlogo{
   display: flex;
   gap: 40px;
}

.map-container  {
   background-color: white;
}
.map{
    width: 100%;
    position: relative;
}

.arwivi{
   position: absolute;
   left: 269px;
   bottom: 343px;
}

.lomi{
   position: absolute;
   left: 549px;
   bottom: 303px;
}
.mgl{
   position: absolute;
   left: 662px;
   bottom: 265px;
}
.vefxvi{
   position: absolute;
   left: 997px;
   bottom: 217px;
}
.koala{
   position: absolute;
   right: -52px;
   bottom: 130px;
}
.datvi{
   position: absolute;
   right: 125px;
   bottom: 391px;

}